[submodule "public"]
	path = public
	url = https://github.com/is-this-echo/insights-blog.git
	branch = main
[submodule "themes/manis"]
	path = themes/manis
	url = https://github.com/is-this-echo/manis-hugo-theme.git
